$primary-color: #2863c1;
$light-blue: #2E4974;
$dark-blue:#032C6C;
$medium-blue: #103570;
$gray: #cfcfd1;
$light-gray: #e5e5e5;

$article-gray: #888;
body{
	background-color: $gray;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	letter-spacing: 0.1em;
}
.text-center{
	text-align: center;
	width: 100%;
}
.home_header_img{
	background-image: url('../images/dnd_monster_header.jpg');
	height: 250px;
	padding: 40px;
	color: white;
	input[type="text"]{
		color: #222;
	}
}
.home_summoned_img{
	background-image: url('../images/dnd_monster_summon.jpg');
	height: 250px;
	padding: 40px;
	color: white;
	input[type="text"]{
		color: #222;
	}
}
.char_img_display{
	margin: 10px;
	text-align: center;
	img{
		height: 250px;
	}
}
.char_img_display_clicked{
	img{
		width: 100%;
			height: 100%;
	}
}
.small_img_monster{
	margin: 10px;
	img{
		height: 100px;
		width: 100px;
		border-radius: 4px;
	}
}
.clearfix{
	clear: both;
	display: block;
	height: 1px;
	width: 100%;
}
.monsterContainer{
	width: 900px;
	margin: auto;
	background: $light-gray;
	padding: 20px;
	border-radius: 3px;
}
.statsContainerChar{
	margin-top: 40px;	
	padding-top: 10px;
	background:  rgba(255, 255, 255, 0.5);;
	border-radius: 4px;
	box-sizing: border-box;
	color: #222;
	padding-bottom: 10px;
}
.statsContainerInput{
	margin-top: 40px;	
	padding-top: 10px;
	background:  rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	box-sizing: border-box;
	color: #222;
	padding-bottom: 10px;
	input[type=text]{
		color: #222;
	}
}
.single-char-state-level-type{
	padding-bottom: 40px;
}
.statsTitle{
	text-align: center;
}
.pretty-inputs{
	input[type=text]{
		max-width: 50px;
	}
}
.longer-pretty-inputs{
	input[type=text]{
		max-width: 100px;
		text-align: center;
	}
}
.stats-main-title{
	margin: 40px;
}
.share50{
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
	box-sizing: border-box;
}
.share30{
	list-style: none;
	display: inline-block;
	float: left;
	text-align: center;
	width: 32%;
	box-sizing: border-box;
}
.share30right{
	list-style: none;
	display: inline-block;
	float: left;
	text-align: center;
	width: 32%;
	box-sizing: border-box;
	margin: auto;
	input[type=text]{
		text-align: center;
	}
}
.back-btn{
	background-color:$dark-blue;
	color: $light-gray;
	padding: 8px 16px;
	border-radius: 4px;
	font-weight: 700;
}
.edit-btn{
	background-color:$dark-blue;
	color: $light-gray;
	padding: 8px 16px;
	border-radius: 4px;
	font-weight: 700;
}
.delete-btn{
	background-color:#b2103e;
	color: $light-gray;
	padding: 8px 16px;
	border-radius: 4px;
	font-weight: 700;
}
.single_container{
	margin-top: 10px;
}
.listNone{
	list-style: none;
}
.listMainContainer{
	margin: auto;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	box-sizing: border-box;
	color: #222;
	padding-bottom: 10px;
	h2{
		padding: 20px;
	}
}
.listMainDisplay{
	border: 1px solid black;
	border-radius: 2px;
	margin-left:1%;

	li{
		margin-left: -20px;
		a{
			color: $light-blue;
			font-size: 22px;
		}
	}
}
.error_msg{

	margin-top: 20px;
	border-radius: 5px;
	color: $light-gray;
	background-color: red;
	padding: 6px 14px;
	text-align: center;
	display: none;
}

.align-right{
	display: inline-block;
	float: right;
}
