<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <% include partials/header.ejs %>
  </head>
  <body>
    <div class="monsterContainer"> 
      <div id="monsters_app"></div>
    </div>
    <% include partials/scripts.ejs %>
  </body>
</html>
